@{
    ViewBag.Title = "Client";
}

@section Headers {
    <link href="~/Content/bsComp/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/bsComp/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/bsComp/bootstrapGrid.min.css" rel="stylesheet" />
}
@Html.AntiForgeryToken()
<h2>@ViewBag.Title</h2>

<div id="@ViewBag.Title"></div>

<div id="OccupationIdReff"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bsComp/bootstrap-modalloading.min.js"></script>
    <script src="~/Scripts/bsComp/bootstrap-select.min.js"></script>
    <script src="~/Scripts/bsComp/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/bsComp/bootstrapGrid.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#@ViewBag.Title').grid({
                pageSizeOption: [5, 10, 15, 25, 50],
                fields: [
                    { title: 'ID', name: 'ClientId', datatype: 'int', key: true, display: false },
                    { title: 'First Name', name: 'FirstName', datatype: 'string' },
                    { title: 'Middle Name', name: 'MiddleName', datatype: 'string' },
                    { title: 'Last Name', name: 'LastName', datatype: 'string' },
                    { title: 'Gender', name: 'Gender', datatype: 'enum', enumdata: { 'M': 'Male', 'F': 'Female' } },
                    { title: 'Date Of Birth', name: 'DateOfBirth', datatype: 'date', format: 'DD MMM YYYY' },
                    { title: 'Credit Rating', name: 'CreditRating', datatype: 'number' },
                    { title: 'XCode', name: 'XCode', datatype: 'string' },
                    { title: 'Occupation', name: 'OccupationId', reffName: 'Occupation.OccupationName', datatype: 'int', reff: 'OccupationIdReff' },
                    { title: 'Telephone Number', name: 'TelephoneNumber', datatype: 'string' },
                    { title: 'Street1', name: 'Street1', datatype: 'string' },
                    { title: 'Street2', name: 'Street2', datatype: 'string' },
                    { title: 'City', name: 'City', datatype: 'string' },
                    { title: 'Zip', name: 'ZipCode', datatype: 'string' },
                    { title: 'Long', name: 'Longitude', datatype: 'number' },
                    { title: 'Lat', name: 'Latitude', datatype: 'number' },
                    { title: 'Notes', name: 'Notes', datatype: 'string', display: false }
                ],
                serverAction: true, //if paging and search, it would take query to server
                gridAddUpdateData: "/Client/AddUpdateClient",
                //gridGetData: "/Client/GetClientList",
                gridGetData: "/Client/ReadClient",
                gridDeleteData: "/Client/DeleteClient"
            });
        })

        function OccupationIdReff() {
            $('#OccupationIdReff').grid({
                pageSizeOption: [5, 10, 15, 25, 50],
                fields: [
                    { title: 'ID', name: 'OccupationId', datatype: 'int', key: true },
                    { title: 'Occupation', name: 'OccupationName', datatype: 'string' }
                ],
                IsReff: true,
                caller: '@ViewBag.Title',
                callerInput: 'OccupationId',
                gridGetData: "/Occupation/GetOccupationList"
            });
        }
    </script>
}
